Hanback_API/.vs/Hanback_API/v16/Server/sqlite3/storage.ide-wal
Hanback_API/.vs/Hanback_API/v16/Server/sqlite3/storage.ide-shm
Hanback_API/.vs/Hanback_API/v16/Server/sqlite3/storage.ide
Hanback_API/.vs/Hanback_API/v16/Server/sqlite3/db.lock
Hanback_API/.vs/Hanback_API/config/applicationhost.config
Hanback_API/.vs/Hanback_API/v16/.suo
Hanback_API/Hanback.DAL/bin/Release/netstandard2.0/Hanback.DAL.pdb
Hanback_API/Hanback.DAL/bin/Release/netstandard2.0/Hanback.DAL.dll
Hanback_API/Hanback.DAL/bin/Release/netstandard2.0/Hanback.DAL.deps.json
Hanback_API/Hanback.DAL/bin/Debug/netstandard2.0/Hanback.DAL.pdb
Hanback_API/Hanback.DAL/bin/Debug/netstandard2.0/Hanback.DAL.dll
Hanback_API/Hanback.DAL/bin/Debug/netstandard2.0/Hanback.DAL.deps.json
Hanback_API/Hanback.DAL/obj/
Hanback_API/Hanback.Service/obj/
Hanback_API/Hanback.Service/bin/
Hanback_API/Hanback_API/bin/
Hanback_API/Hanback_API/obj/
Hanback_API/Hanback_Service/obj/
Hanback_API/Hanback_DAL/obj/
Hanback_API/.vs/
/Hanback_API/Hanback.DAL/bin/Debug/netcoreapp2.2
/Hanback_API/Hanback.DAL/bin/Release/netcoreapp2.2
/Hanback_API/Hanback_API.sln.DotSettings.user
/Hanback_API/Hanback.Lib/obj
/Hanback_API/Hanback.Lib/bin/Debug/netcoreapp2.2
